IMMICH_KEY=RANDOM_IMICH_KEY_SAMPLE
IMMICH_URL=http://localhost:2283

# PostgreSQL Database Configuration
DB_HOSTNAME=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE_NAME=immich

# Immich Data / Upload directory on host
UPLOAD_LOCATION=/path/to/immich-data

